footer {
    height: 100px;
    width: 100%;
    background-color: rgba(127, 116, 189, 0.945);
    color: rgb(240, 228, 228);
}
footer .text {
    margin-top: 0;
}

footer a {
    text-decoration: none;
    color: rgb(240, 228, 228);
}